{
    "env": {
        "production": {
            "presets": [
                ["@babel/preset-env", {
                    "targets": {
                        "browsers": ["last 2 version", "ie 10"]
                    },
                    "useBuiltIns": "usage",
                    "corejs": 3,
                    "modules": false,
                    "debug": false
                }], "@babel/preset-react"
            ],
            "plugins": [
                ["@babel/plugin-transform-runtime", {
                    "corejs": 3
                }],
                ["@babel/plugin-proposal-decorators", { "legacy": true }],
                ["@babel/plugin-proposal-class-properties", { "loose": true }],
                "@babel/plugin-proposal-object-rest-spread",
                "@babel/plugin-proposal-optional-chaining",
                "@babel/plugin-proposal-nullish-coalescing-operator",
            ]
        },
        "development": {
            "presets": [
                ["@babel/preset-env", {
                    "targets": {
                        "chrome": 60
                    },
                    "useBuiltIns": "usage",
                    "corejs": 3,
                    "modules": false,
                    "debug": false
                }], "@babel/preset-react"
            ],
            "plugins": [
                ["@babel/plugin-transform-runtime", {
                    "corejs": 3
                }],
                ["@babel/plugin-proposal-decorators", { "legacy": true }],
                ["@babel/plugin-proposal-class-properties", { "loose": true }],
                "@babel/plugin-proposal-object-rest-spread",
                "@babel/plugin-proposal-optional-chaining",
                "@babel/plugin-proposal-nullish-coalescing-operator",
            ]
        }
    }
}
